<div class="m-content">
	<div class="m-portlet m-portlet--full-height">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Training Timeline
					</h3>
				</div>
			</div>
			<div class="m-portlet__head-tools">
				<ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
					<li class="nav-item m-tabs__item">
						<a aria-expanded="true" class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget2_tab1_content" role="tab" ng-reflect-href="#m_widget2_tab1_content">
							Day 1
						</a>
					</li>
					<li class="nav-item m-tabs__item">
						<a aria-expanded="false" class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget2_tab2_content" role="tab" ng-reflect-href="#m_widget2_tab2_content">
							Day 2
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="m-portlet__body">
			<div class="tab-content">
				<div aria-expanded="true" class="tab-pane active" id="m_widget2_tab1_content">
					
					<div class="m-timeline-1 m-timeline-1--fixed">
						<div class="m-timeline-1__items">
							<div class="m-timeline-1__marker"></div>
              
              
              
							<div class="m-timeline-1__item m-timeline-1__item--left">
								<div class="m-timeline-1__item-circle">
									<div class="m--bg-danger"></div>
								</div>
								<div class="m-timeline-1__item-arrow"></div>
								<span class="m-timeline-1__item-time m--font-brand">
									02:58
									<span>
										PM
									</span>
								</span>
								<div class="m-timeline-1__item-content">
									<div class="m-timeline-1__item-title">
										Title
									</div>
									<div class="m-timeline-1__item-body">
										Lorem ipsum dolor sit amit,consectetur eiusmdd
										tempor incididunt ut labore et dolore magna enim
										ad minim veniam nostrud.
									</div>
								</div>
							</div>
              
              
              <div class="m-timeline-1__item m-timeline-1__item--right">
								<div class="m-timeline-1__item-circle">
									<div class="m--bg-danger"></div>
								</div>
								<div class="m-timeline-1__item-arrow"></div>
								<span class="m-timeline-1__item-time m--font-brand">
									04:10
									<span>
										PM
									</span>
								</span>
								<div class="m-timeline-1__item-content">
									<div class="m-timeline-1__item-title">
										Title
									</div>
									<div class="m-timeline-1__item-body">
										Lorem ipsum dolor sit amit,consectetur eiusmdd
										tempor incididunt ut labore et dolore magna enim
										ad minim veniam nostrud.
									</div>
								</div>
							</div>
						
            
              <div class="m-timeline-1__marker"></div>
            </div>
            
					</div>
			</div>
		</div>
	</div>
</div>